/*Theme colors to be updated, just hideous*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');
/* latin */
.mobileShow {
  display: none;
} 


  /* Smartphone Portrait and Landscape */ 
@media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px) {
 
  .mobileShow {
    display: inline;
  }
}

a.closebtn {
  display: none;
} 

  }

  /* Smartphone Portrait and Landscape */ 
@media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px) {
 
  a.closebtn {
    display: inline;
  }
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(JosefinSans.woff2) format('woff2');
}

/* latin */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url(Righteous.woff2) format('woff2');
}

body {
  background-color: #FFF;
  margin: 0;
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;
}

.main-body {
  width: 80%;
  border-color: #000000;
  display: block;
  padding-bottom: .5em;
  box-shadow: 4px 0 2px -2px rgba(0, 0, 0, .4);
  overflow: auto;
  float: right;
}

.main-body-header-inline h2 {
  color: #000080;
  font-size: 4.2vw;
  font-family: 'Righteous', sans-serif;
  font-weight: 500;
  font-stretch: expanded;
  margin-bottom: 0;
  margin-top: .5em;
  display: inline;
  float: left;
  padding-left: 1em;
}

.main-body-header-inline {
  display: inline-table;
  width: 100%;
}

#text {
  align-content: center;
  width: 50%;
  float: left;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 1.7em;
  align-content: center;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 9em;
  float: right;
  margin-left: 2em;
  margin-top: -.8em;
}

#main {
  transition: margin-left .5s;
}

.scd-counter-col {
  display: inline-block;
  clear: both;
}

.scd-all-wrapper {
  color: white;
  text-align: center;
  display: block;
}

.scd-all-wrapper {
  width: 100%;
  font-size: inherit;
}

a {
  text-decoration: none;
  padding: 0px 1.25vw;
}

h3 {
  color: #272c2c;
  font-size: 1.6em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: inherit;
}

#clockdiv {
  color: #fff;
  font-family: sans-serif;
  display: inline-block;
  position: static;
  font-weight: 700;
  text-align: center;
  font-size: 2vw;
  float: right;
  width: 50%;
  align-content: center;
}

#clockdiv p {
  color: #000080;
}

#clockdiv>div {
  padding: .8vw;
  border-radius: 6px;
  display: inline-block;
  background-color: #000080;
    /*find new color or remove*/;
}

#clockdiv div>span {
  padding: 1vw;
  border-radius: 3px;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 1.1vw;
  font-weight: 100;
  color: #fff;
}

hr.style {
  border-top: 2px solid #000080;
  color: #000080;
  width: 95%;
}

.section-header {
  float: left;
  font-weight: bold;
  font-size: 2em;
  color: #272c2c;
  margin-left: 1em;
}

.section-text {
  float: left;
  text-align: left;
  margin-left: 2em;
  margin-right: 2em;
  display: block;
  font-size: 1.1em;
}

.section-text a {
  color: #272c2c;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  font-weight: bold;
}

.section-text-left {
  float: left;
  text-align: left;
  margin-left: 2em;
  margin-right: 2em;
  display: block;
  font-size: 1.1em;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  width: 40%;
}

.section-text-left p {
  font-family: inherit;
}

.section-text-left a {
  color: #272c2c;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: underline;
  font-weight: bold;
}

.section-right {
  font-family: "Josefin Sans";
  float: right;
  width: 40%;
  padding-right: 5%;
}

.section-right img{
    height:300px;
    margin-top:80px;
}

.maps iframe {
  float: left;
  width: 42%;
  height: 400px;
  border: 0;
  margin-top: 40px;
}

.contact-section-names {
  color: #272c2c;
  text-align: left;
  display: inline-block;
  float: left;
  margin-left: 1.5em;
  width: 50%;
  position: relative;
  padding-left: 1em;
  border-left: 2px solid #000080;
  height: inherit;
}

.contact-section-names a {
  text-decoration: underline !important;
  color: #272c2c;
  padding: 0;
  margin: 0;
  text-decoration-style: solid;
}

.contact-section-names img {
  padding-left: 10px;
  padding-right: 10px;
}

.forms-button {
  padding: .5em;
  margin: .4em;
  background-color: #000080;
  font-size: 1em;
  font-weight: 100;
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
  margin-right: 8px;
  opacity: .9;
  border-left: 2px #000000;
  box-shadow: 4px 0 2px -2px rgba(0, 0, 0, .4);
  border-radius: 8px;
  width: 50%;
}

.contact-section {
  float: left;
  text-align: left;
  margin-left: 2em;
  display: block;
  font-size: 1.1em;
  width: 95%;
}

.soc-med {
  float: left;
  position: relative;
  display: inline-block;
}

.soc-med a {
  display: inline-table;
  width: 40%;
  float: left;
  margin-bottom: 0em;
}

.promotions {
  display: inline-block;
  float: left;
}

.promotions img {
  width: 20%;
  padding-left: 1em;
}

.promotions a:hover{
    opacity: .7;
}

.food-sponsor {
  width: 90%;
  display: inline-block;
  float: left;
  margin-left: 2em;
}

.inline-block {
  float: left;
  display: inline-table;
  line-height: 100%;
  height: 10em;
  width: 20%;
  background-color: #000080;
  margin-right: 5%;
  padding-bottom: 3%;
  padding-top: 3%;
  padding-left: 1%;
  padding-right: 1%;
  color: #FFF;
  border-radius: 15px;
}

.button p {
  vertical-align: middle;
  color: #FFF !important;
  font-size: 1.5em;
  line-height: 1.25em;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.inline-block:hover {
  opacity: .8;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 5% auto auto 35%;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;

}

.popup img{
    width:80%;
    align-content: center;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}

.popup .content a:hover{
    opacity: .6;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .content {
  max-height: 50%;
  font-size:1.1em;
}

.popup .content a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: inherit;
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .inline-block {
    width: 70%;
  }

  .popup {
    width: 70%;
  }
}

p {
  color: #272c2c;
  font-family: "Josefin Sans";
  font-size: 1.1em;
}

.counter {
  display: none;

}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}