 
  .main-body{
        width:100%;
    }
    .main-body-header-inline h2 {
    color: #FFFFFF;
   	font-size: 1em;
    font-family: "Monoton", cursive;
    font-weight: 100;

}
.section-text-left {
  
    width: 100%;
      
}

.section-right{
	width: 100%;
}