@media screen and (max-width: 700px) {
    .main-body{
        width:100%;
    }
    .main-body-header-inline h2 {
    color: #FFFFFF;
   	font-size: 1em;
    font-family: "Monoton", cursive;
    font-weight: 100;

}

}